DATABASE_URL=postgres://user:password@localhost:5432/grievanceid
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=8h
PORT=3001
NODE_ENV=development

ESIGNET_CLIENT_ID=tawthiqid-citizen
ESIGNET_TOKEN_ENDPOINT=http://localhost:8088/v1/esignet/oauth/v2/token
ESIGNET_REDIRECT_URI=http://localhost:5173/login
ESIGNET_PRIVATE_KEY_PATH=../../esignet/tawthiqid_esignet_private.pem
ESIGNET_SUCCESS_REDIRECT=/grievances/mine
